**Q1.** Explain the key features of python that make it a popular choice for programming.

In [ ]:
#ANS 1. The key features of pyhton that make it a popular choice for programming are as follows :

#1) It is easy to read and learn. python's simple syntax and straightforward structure make it a good choice for programming. It's commands are based in english and it makes the code easy to reaad.
#2) Pyton is versatile, this language can be used for a wide range of application including web development ,data analysis, artificial intelligence,etc.
#3) Python has an open source nature thatleads to a large system of libraries and framework for tasks.
#4) Python has a large and active community of developers who contibutes to its improvement and provide resources and assistance.
#5) Python widespread is used in various industries that make it a valuable skill for developers.
#6) Python integration capabilities with other language and tools further enhance its usability across various industries.

**Q2**. Describe the role of predefined keywords in python and provide examples of how they are used in a program.

**ANS** **2**. In python, predefined keywords also called reserve words are special words that have special meaning and are part of the python syntax. these words cannot be used as identifiers like variable names, function names or class names because they are reserved by the language for a particular purpose. Keywords are esssential to the structure and behavior of python programs as they define the language's syntax and control flow.

Example : Print is only used to print a statement, it cannot be used as identifier

In [ ]:
print("helllo everyone")

helllo everyone

**Q3.** Compare and contrast mutable and immutable objects in python with examples.

**ANS 3.** In Python, objects are classified as either mutable or immutable based on whether their values can be modified after they are created.

Mutable Objects

Mutable objects can be modified after they are created. You can change their contents without changing their identity (address in memory). Common examples include lists, dictionaries, and sets.

In [ ]:
#MUTABLE OBJECTS
#LIST
list_cont = [ 1, 2, 3, 4+5j, "Habiba"]
list_cont

[1, 2, 3, (4+5j), 'Habiba']

In [ ]:
list_cont[0]

1

In [ ]:
list_cont[4]

'Habiba'

In [ ]:
list_cont[3]

(4+5j)

In [ ]:
#DICTIONARY
dict = {'name': 'habiba', 'age': 24}
dict['age'] = 21
dict

{'name': 'habiba', 'age': 21}

In [ ]:
#set
set = {1,2,3,4,5}
set.add(6)
set

{1, 2, 3, 4, 5, 6}

IMMUTABLE OBJECTS

Immutable objects cannot be modified after they are created. Any operation that appears to modify an immutable object will create a new object instead. Common examples include integers, floats, strings, and tuples.

In [ ]:
3+4*2

11

In [ ]:
4+8*3

28

**Q4.** Discuss the different types of operators in python and provide examples of how they are used.

**ANS 4.** The different types of operators in python are Arithmetic operator, Comparison Operator, Assignment Operators, Logical Operator, Bitwise Operator, Membership Operator, Identity Operators.

In [ ]:
#EXAMPLES
#Arithmetic Operator
a = 26
b = 20
# Addition
print ("a + b : ", a + b)
# Subtraction
print ("a - b : ", a - b)
# Multiplication
print ("a * b : ", a * b)
# Division
print ("a / b : ", a / b)
# Modulus
print ("a % b : ", a % b)
# Exponent
print ("a ** b : ", a ** b)
# Floor Division
print ("a // b : ", a // b)

a + b :  46
a - b :  6
a * b :  520
a / b :  1.3
a % b :  6
a ** b :  19928148895209409152340197376
a // b :  1

In [ ]:
# Python Comparison Operators
a = 6
b = 10
# Equal
print ("a == b : ", a == b)
# Not Equal
print ("a != b : ", a != b)
# Greater Than
print ("a > b : ", a > b)
# Less Than
print ("a < b : ", a < b)
# Greater Than or Equal to
print ("a >= b : ", a >= b)
# Less Than or Equal to
print ("a <= b : ", a <= b)

a == b :  False
a != b :  True
a > b :  False
a < b :  True
a >= b :  False
a <= b :  True

In [ ]:
#Python Assignment Operators
# Assignment Operator
a = 20
# Addition Assignment
a += 5
print ("a += 5 : ", a)
# Subtraction Assignment
a -= 5
print ("a -= 5 : ", a)
# Multiplication Assignment
a *= 5
print ("a *= 5 : ", a)
# Division Assignment
a /= 5
print ("a /= 5 : ",a)
# Remainder Assignment
a %= 3
print ("a %= 3 : ", a)
# Exponent Assignment
a **= 2
print ("a **= 2 : ", a)
# Floor Division Assignment
a //= 3
print ("a //= 3 : ", a)

a += 5 :  25
a -= 5 :  20
a *= 5 :  100
a /= 5 :  20.0
a %= 3 :  2.0
a **= 2 :  4.0
a //= 3 :  1.0

In [2]:
#Python Bitwise Operators
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101
# Binary AND
c = a & b # 12 = 0000 1100
print ("a & b : ", c)
# Binary OR
c = a | b # 61 = 0011 1101
print ("a | b : ", c)
# Binary XOR
c = a ^ b # 49 = 0011 0001
print ("a ^ b : ", c)
# Binary Ones Complement
c = ~a; # -61 = 1100 0011
print ("~a : ", c)
# Binary Left Shift
c = a << 2; # 240 = 1111 0000
print ("a << 2 : ", c)
# Binary Right Shift
c = a >> 2; # 15 = 0000 1111
print ("a >> 2 : ", c)

a & b :  12
a | b :  61
a ^ b :  49
~a :  -61
a << 2 :  240
a >> 2 :  15

In [5]:
# Python Logical Operators
x = 4
y = 8
if x > 2 and y < 12:
  print("Both x and y are within the specified range")

Both x and y are within the specified range

In [7]:
#Python Membership Operators
fruits = ["apple", "banana", "cherry"]
if "banana" in fruits:
    print("Yes, banana is a fruit!")
else:
    print("No, banana is not a fruit!")

Yes, banana is a fruit!

In [10]:
# Python Identity Operators
x = 20
y = 15
if x is y:
    print("x and y are the same object")
else:
    print("x and y are not the same object")

x and y are not the same object

**Q 5.** Explain the concept of type casting in python with examples.

**ANS 5.**  Type casting in Python is the process of converting one data type into another. It’s useful when you want to perform operations that require data to be in a specific type. Python supports two main types of casting: implicit and explicit.

1. Implicit Type Casting

In implicit casting, Python automatically converts a data type without any explicit instruction from the programmer. This generally happens when mixing two types where the conversion will not result in data loss.

In [11]:
# Implicit casting from integer to float
num_int = 10
num_float = 3.5
result = num_int + num_float  # Integer `10` is automatically cast to float `10.0`
print(result)  # Output: 13.5
print(type(result))  # Output: <class 'float'>

13.5
<class 'float'>

In [13]:

# Python program to demonstrate
# implicit type Casting

# Python automatically converts
# a to int
a = 5
print(type(a))

# Python automatically converts
# b to float
b = 1.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
6.0
<class 'float'>
5.0
<class 'float'>

2. Explicit Type Casting


In explicit casting, the programmer manually converts one data type into another using built-in functions like int(), float(), str(), and bool().

In [14]:
# Converting string to integer
num_str = "42"
num_int = int(num_str)
print(num_int)  # Output: 42
print(type(num_int))  # Output: <class 'int'>

# Converting float to integer
num_float = 5.99
num_int = int(num_float)  # Truncates decimal part
print(num_int)  # Output: 5

# Converting integer to string
num = 100
num_str = str(num)
print(num_str)  # Output: '100'
print(type(num_str))  # Output: <class 'str'>

42
<class 'int'>
5
100
<class 'str'>

**Q 6.**  How do conditional statements work in Python? Illustrate with examples.


**ANS 6.** Conditional statements in Python allow the code to make decisions based on certain conditions. They evaluate expressions and execute code blocks only if the expressions are true. The primary conditional statements in Python are if, elif, and else.

In [15]:
#IF STATEMENT
age = 18
if age >= 18:
    print("You are an adult.")  # This will execute because `age >= 18` is True

You are an adult.

In [16]:
#ELSE STATEMENT
age = 16
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")  # This will execute because `age >= 18` is False

You are not an adult.

In [17]:
#ELIF STATEMENT
score = 75
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")  # This will execute because `score >= 70` is True
else:
    print("Grade: D")

Grade: C

**Q 7.**   Describe the different types of loops in Python and their use cases with examples.

**ANS 7.**  A loop in Python is a control structure that allows you to repeatedly execute a block of code as long as a specified condition is true or as long as there are items to process in a sequence. Loops are essential for automating repetitive tasks, iterating over data structures like lists or strings, and performing tasks until a certain condition changes. The main types of loops in Python are while loops, for loops and nested loops, each suited for different use cases.

In [19]:
# python while loop
count = 0
while (count < 10):
 print ('The count is:', count)
 count = count + 1
print ("it's beautiful!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9
it's beautiful!

In [22]:
#python for loop
for letter in 'data science': # First Example
 print ('Current Letter :', letter)
fruits = ['orange', 'mango', 'litchi']
for fruit in fruits: # Second Example
 print ('Current fruit :', fruit)
print ("Perfect")

Current Letter : d
Current Letter : a
Current Letter : t
Current Letter : a
Current Letter :
Current Letter : s
Current Letter : c
Current Letter : i
Current Letter : e
Current Letter : n
Current Letter : c
Current Letter : e
Current fruit : orange
Current fruit : mango
Current fruit : litchi
Perfect

In [23]:
#python nested loop
i = 4
while(i < 100):
 j = 4
 while(j <= (i/j)):
   if not(i%j): break
   j = j + 1
 if (j > i/j) : print (i, " is prime")
 i = i + 1
print ("Thank you")

4  is prime
5  is prime
6  is prime
7  is prime
8  is prime
9  is prime
10  is prime
11  is prime
12  is prime
13  is prime
14  is prime
15  is prime
17  is prime
18  is prime
19  is prime
21  is prime
22  is prime
23  is prime
26  is prime
27  is prime
29  is prime
31  is prime
33  is prime
34  is prime
37  is prime
38  is prime
39  is prime
41  is prime
43  is prime
46  is prime
47  is prime
51  is prime
53  is prime
57  is prime
58  is prime
59  is prime
61  is prime
62  is prime
67  is prime
69  is prime
71  is prime
73  is prime
74  is prime
79  is prime
82  is prime
83  is prime
86  is prime
87  is prime
89  is prime
93  is prime
94  is prime
97  is prime
Thank you